<mat-toolbar color="primary">
  <nav style="display: flex; justify-content: space-between; width: 100%;">
    <div class="nav-container">
      <span>Brandon Wever</span>
      <a mat-flat-button color="primary">Home</a>
      <a mat-flat-button color="primary">Resume</a>
    </div>
    <div>
      <a mat-flat-button color="primary" routerLink="./login">Login</a>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </nav>
</mat-toolbar>
